.body {
  font-family: "Open Sans", sans-serif;
  background-image: url("/assets/wll.jpg");
  background-position: 28% 74%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: inline;
  background-color: #f3f2f1d1;
}
.logo_header {
  margin: 0 auto;
  width: 100%;
  max-width: 270px;
  height: auto;
  display: block;
}
.barra {
  background-color: #ffad5b;

  justify-content: center;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  flex-wrap: wrap;
}
li {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
}
svg {
  fill: white;
  width: 7%;
}

.link_telefone {
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.wallpaper {
  width: 100%;
}
.nossos_serviços {
  margin-left: 5%;
  font-size: 23px;
  text-align: right;
  color: #000000ba;
}

.container_titulo {
  width: 190px;
  border-bottom: 5px solid #ffad5b;

  margin-top: 20%;
}
#svg_srvicos {
  width: 67px;

  fill: #000000ba;
}
#container_imagens {
  display: flex;
  flex-wrap: wrap;
}
#servicos_lista {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 18px;
}
.logings {
  width: 30%;
  height: 40%;
}
#falec {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background: #ff7f00;
  padding: 14px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#falec:hover {
  text-decoration: none;
  font-size: 24px;
  color: #ffad5b;
  background: #efeeee;
  padding: 14px;
  border-radius: 5px;
}
.footer {
  background-color: #ffad5b;
  height: 67px;

  flex-direction: column;
  align-items: flex-start;
}
.section {
  flex: 1;
}
.descricao {
  font-weight: 600;
  color: #3e3d3d;
}
.logo_footer {
  width: 133px;
  height: 33px;
  display: flex;
  margin-bottom: 7px;
}

.fb {
  order: 3;
}
.melhorparte {
  color: white;
  order: 4;

  font-size: 13px;
}
#perfil {
  color: #ff7f00;
  font-weight: bolder;
}
.f {
  display: flex;
  justify-content: space-between;
}
