.body {
  font-family: "Open Sans", sans-serif;
  background-image: url("/assets/wll.jpg");
  background-position: 28% 74%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  /*width: 100%;*/
  display: inline;
  background-color: #f3f2f1d1;
}
.logo_header {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
}
.barra {
  background-color: #ffad5b;

  justify-content: center;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}
li {
  align-items: center;
  display: flex;
}
svg {
  fill: white;
  width: 10%;
}

.link_telefone {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}
.link_telefone:hover {
  text-decoration: none;
  font-size: 1.5rem;
  color: #6d3801;
}
.wallpaper {
  width: 100%;
}
.nossos_serviços {
  margin-left: 5%;
  font-size: 2rem;
  text-align: right;
  color: #000000ba;
}

.container_titulo {
  width: 25%;
  border-bottom: 5px solid #ffad5b;

  margin-top: 7%;
}
#svg_srvicos {
  width: 30%;

  fill: #000000ba;
}
#container_imagens {
  display: flex;
  flex-wrap: wrap;
}
#servicos_lista {
  display: flex;
  flex-direction: column;
}
.logings {
  width: 30%;
  height: 40%;
}
#falec {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background: #ff7f00;
  padding: 14px;
  border-radius: 5px;
}
#falec:hover {
  text-decoration: none;
  font-size: 24px;
  color: #ffad5b;
  background: #efeeee;
  padding: 14px;
  border-radius: 5px;
}
.footer {
  display: flex;
  background-color: #ffad5b;
  height: 184px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section {
  flex: 1;
}
.descricao {
  font-weight: 600;
  color: #3e3d3d;
}
.logo_footer {
  width: 227px;
  height: 72px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#telfooter {
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.fb {
  order: 3;
}
.melhorparte {
  color: white;
  order: 4;
  align-self: flex-end;
}
#perfil {
  color: #ff7f00;
  font-weight: bolder;
}
