.body {
  font-family: open sans;
  background-image: url("/assets/wll.jpg");
  background-position: 28% 74%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #f3994b;
  width: 100%;
  height: auto;
}

.titulo_Fonte {
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 2rem;
}

.h2 {
  font-weight: 700;
  color: #000000ba;
  font-size: 23px;
}
.p_contato {
  color: #000000ba;
  margin-top: 12px;
  font-size: 20px;
  text-align: center;
}
.contato_link {
  color: #f3994b;
}
.form {
  min-width: 20%;
}
.label_forms {
  font-size: 17px;
  color: #000000ba;
  width: 100%;
}
.campos {
  padding: 15px;
  border: 2px solid #666;
  border-radius: 5px;
  margin-top: 14px;
  margin-bottom: 14px;
  width: 100%;
}

.botao {
  background-color: #f17d19;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 5px;
  display: block;
  margin-top: 33px;
  font-weight: 600;
}
.textoTelefones {
  text-align: justify;
  color: #000000ba;
  font-size: 19px;
  margin-bottom: 25px;
}
#telefonetexto {
  font-style: italic;
}
.container_telefones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.containerDoContainer {
  width: 100%;
}
#telenumber {
  color: #000000ba;
}
.form_container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
@media (min-width: 450px) {
  .titulo_Fonte {
    font-size: 2.5rem;
  }
  .p_contato {
    font-size: 20px;
  }
  .form {
    min-width: 60%
}

@media (min-width: 750px) {
  .titulo_Fonte {
    font-size: 3.5rem;
  }
  .h2 {
    font-size: 30px;
  }
  .p_contato {
    font-size: 24px;
  }
  .form {
    min-width: 46%
}
@media (min-width: 1000px) {
  .h2 {
    font-size: 33px;
  }
  .p_contato {
    font-size: 23px;
  }
  .form {
    min-width: 34%;
}

